section.main
  div(class="sort main__sort")
    div(class="sort__selector")
      .sort__title Сортировать по
      .sort__select
        select.sort__select-elem
          - var options = ["по цене", "по популярности"]
          each option in options
            option(value="")= option
    div(class="sort__view") 
      span.view__heading Вид каталога
      ul.view__list
        - var items = ['rows', 'grids', 'lines']
        each item in items
          li(class="view__item view__item_" + item data-view="#{item}")
            a(href="#" class="view__item_link view__item_link-" + item + ((item == "rows") ? ' active' : ''))
  .products
    ul.products__list#products-list
      - for (var i = 0; i < 9; i++ )
        li.products__item
          .products__item_inner
            .products__left
              .products__slideshow
                .products__slideshow-block
                  a(href="#" rel="lightbox").products__slideshow-display
                    img.products__slideshow-img(src="img/items/lumia/lumia-0.jpg" alt="")
                  ul.products__slideshow-thumbs
                    - for( var j = 1; j < 4; j++ )
                      li.products__slideshow-item
                        a(href='#').products__slideshow-link
                          img(src="img/items/lumia/lumia-" + j + ".jpg" alt="").products__slideshow-thumb-img
                .products__article
                  .products__article-word Артикул
                  .products__article-num 189238
              .products__desc
                .products__desc-title
                  a.products__desc-link Смартфон Samsung GT-I9301I GALAXY S 3 
                ul.products__desc-options
                  - var options = {'Тип SIM-карты': 'Micro-SIM', 'Количество SIM-карт': '2', 'Цвет': 'Белый', 'ОС': 'Windows Phone', 'Связь 3G': 'Есть', '4G (LTE)': 'Нет', 'GPS-модуль': 'A-GPS'};
                  - var index = 0;
                  - for (item in options)
                    li(class="products__option-item" + (!(index++ % 2) ? ' products__option-item_colored' : ''))
                      .products__option-key= item
                      .products__option-value= options[item]
                .products__rating
                  ul.products__rating-stars
                    li.products__rating-stars-item.products__rating-stars-item_filled     
                    li.products__rating-stars-item.products__rating-stars-item_filled     
                    li.products__rating-stars-item.products__rating-stars-item_filled     
                    li.products__rating-stars-item
                    li.products__rating-stars-item
                  .products__rating-amount 3
            .products__right
              .products__info
                .products__price 11290
                .rub p
              .products__info-bottom
                a(href='#').products__buy-btn В корзину
                .products__aviability В наличии
  .pagination
    ul.pagination__list
      li.pagination__item.pagination__item_prev
        a(href='#').pagination__link
          .pagination__mark
      - for( var i = 1; i < 4; i++ )
        li.pagination__item
          a(href='#').pagination__link
            .pagination__mark= i
      li.pagination__item.pagination__item_next
        a(href='#').pagination__link
          .pagination__mark
